body {
  margin: 0;
  font-family: sans-serif;
  transition: background 0.3s, color 0.3s;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

#status {
  text-align: center;
  min-height: 20px;
}

.dropdown-btn {
  position: relative;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

.dropdown-content {
  position: absolute;
  background-color: #ffffff;
  min-width: 160px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-item {
  width: 100%;
  padding: 12px;
  color: #000000;
  background-color: #ffffff;
  cursor: pointer;
}

/* Javascript themes */

/* Light Theme */
.theme-light .dropdown-btn {
  background-color: #d3b3aa;
}

body.theme-light {
  background-color: #ffffff;
  color: #000000;
}

/* Dark Theme */
.theme-dark .dropdown-btn {
  background-color: #4f4f4f;
}

body.theme-dark {
  background-color: #121212;
  color: #f5f5f5;
}

/* Ocean Theme */
.theme-ocean .dropdown-btn {
  background-color: #193e51;
}

body.theme-ocean {
  background-color: #005f73;
  color: #e0fbfc;
}

/* Nord Theme */
.theme-nord .dropdown-btn {
  background-color: #596680;
}

body.theme-nord {
  background-color: #2e3440;
  color: #d8dee9;
}
